:root {
  --bg-color: #d8cfd0;
  --clr-head: #5581fc;
  --clr-barra: rgb(12, 41, 94);
  --clr-bottoni: #b1a6a4;
  --clr-bottoni-dark: #928a88;
  --ff-color: #413f3d;
}

/* Remove default margin */
* div:not(.box-sinistra) {
  margin: 0;
  color: white;
  padding: .25rem;
  font-family: 'Roboto', sans-serif; 
  color: var(--ff-color);

}

html > * {
  border-left: auto;
  border-right: auto;
  background: var(--bg-color);
  color: var(--ff-color);
}

div {
  font-size: .75rem;
}

.nav-list {
  display: flex;
  gap: 1rem;
  color: var(--ff-color);
  padding: 0;
  border-radius: 2px;
  margin: 0;
  list-style: none;
}

nav-list li {
  color: var(--ff-color);
  padding: 2px;
  background: var(--clr-bottoni);
  border-radius: 2px;
  padding: 2px;
}

.nav-list li:hover,
.nav-list li:focus {
  color: var(--ff-color);
  background: var(--clr-bottoni-dark);
  border-radius: 5px;
  padding: 2px;
}

header {
  --border-width: 5px;
}
 
.box-sinistra {
  width: 232px;
  height: 70rem;
  border: none;
  background: var(--clr-barra);
  padding: none;
}

.foto-profilo {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}