:root {
  --bg-color: #a6c5ff;
  --clr-head: #5581fc;
  --clr-barra: rgb(12, 41, 94);
  --clr-bottoni: #ff792c;
  --clr-bottoni-dark: #cf6528;

  --ff-primary: "Be Vietnam Pro", sans-serif;
}

/* Remove default margin */
* div:not(.box-sinistra) {
  margin: 0;
  color: white;
  padding: .25rem;
  font-family: var(--ff-primary); 
}

html {
  border-left: 25rem;
  border-right: 25rem;
  background: var(--bg-color);
}

div {
  font-size: .75rem;
}

.bottone-allegati {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: var(--clr-bottoni-dark) .070em solid;
  background: var(--clr-bottoni);
  padding: .5rem;
  border-radius: 1em;
  margin: .25rem;
}

.bottone-allegati:hover,
.bottone-allegati:focus {
  border: white .070em solid;
  color: white;
}

.bottone-home {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: var(--clr-bottoni-dark) .070em solid;
  background: var(--clr-bottoni);
  padding: .5em;
  border-radius: 1em;
}

.bottone-home:hover,
.bottone-home:focus {
  border: white .070em solid;
  color: white;
}

.box-sinistra {
  width: 232px;
  height: 70rem;
  border: none;
  background: var(--clr-barra);
  padding: none;
}

.foto-profilo {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}