:root {
  --bg-color: #a6c5ff;
  --clr-head: #5581fc;
  --clr-barra: rgb(10,35,80);
  --clr-bottoni: #ff792c;
  --clr-bottoni-dark: #cf6528;

  --ff-primary: "Be Vietnam Pro", sans-serif;
}

/* Remove default margin */
* {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  color: white;
  font-family: var(--ff-primary); 
}

.bottone-allegati {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: var(--clr-bottoni-dark) .070em solid;
  padding: .5em;
  background: var(--clr-bottoni);
  border-radius: 1em;
}

.bottone-allegati:hover,
.bottone-allegati:focus {
  border: white .070em solid;
  color: white;
}

.bottone-home {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: var(--clr-bottoni-dark) .070em solid;
  padding: .5em;
  background: var(--clr-bottoni);
  border-radius: 1em;
}

.bottone-home:hover,
.bottone-home:focus {
  border: white .070em solid;
  color: white;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}